<header class="bar-header">
    <h1 class="logo">
        <a href="{{site.baseurl}}/"></a>
    </h1>
</header>
{% include menu-search.html %}

<header class="header-post" role="banner">
     <div class="content">
        {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle">{{ page.description }}</p>
    </div>
</header>